*{
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    background-color: #FBF8F1 ;
}

.nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding: 0 1rem;
    background-color: #1F1717;
    color: #F8DE22;
    flex-wrap: wrap;
}

.nav ul{
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    gap: 2rem;
    padding-bottom: 1rem;
}


.nav a{
    text-decoration: none;
    color: inherit;
    font: bold 18px Arial;
    text-decoration: none;
    background-color: #F8DE22;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.nav a:hover{
    color: red;
}

.title{
    font-size: 2rem;
    
}

.btn{
    
    font: bold 18px Arial;
    text-decoration: none;
	background-color: #F8DE22;
    color: black;
    color: #333333;
    padding: 2px 6px 2px 6px;
    border-top: 1px solid #CCCCCC;
    border-right: 1px solid #333333;
    border-bottom: 1px solid #333333;
    border-left: 1px solid #CCCCCC;
}

.btn:hover{
    color: red;
}

/* Contact Page */

.contactArea{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 70vh;
    justify-content: center;
    gap: 1rem;
}

.contactArea h1{
    color: red;
    text-decoration: underline;
    font:  20px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.contactDetails{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #CBFFA9;
    align-items: center;
    width: 200px;
    border-radius: 5%;
    
}

.contactDetails a{
    text-decoration: none;
    font-size: 1.5rem;
    color: black;
    font-family: fantasy;
    
}

.contactArea a:hover{
    color: blue;
}

/* Home Page */

.homeArea{
    display: flex;
    height: 100%;
    gap: 0.5rem;
}
.homeArea p{
    font-family: fantasy;
}
.homeArea img{
    
    width: 50%;
    height: inherit;
}

.homeDetails{
    
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    

}


.homeDetails ul{
    color: black;
    padding-left: 2rem;
    font-family: fantasy;
    background-color: #CBFFA9;
    border-radius: 5%;
    
}

.homeDetails h3{
    color: red;
    padding-top: 1rem;
    text-decoration: underline;
    font: 20px Arial;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

@media only screen and (min-width: 600px) {
    .homeArea img{
    
        width: 200px;
        height: 250px;
    }
    
}
/* Achievements Page */

.achievementsArea{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.achievementsArea h3{
    color: red;
    padding-top: 1rem;
    text-decoration: underline;
    font:  20px Arial;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.achievementsArea ul{
    padding-left: 2rem;
    color: black;
    font-family: fantasy;
    background-color: #CBFFA9;
    border-radius: 5%;
}

.newLine {
    white-space: pre-line;
  }